// Colors
$background-tint: #8895a1;
$background-color: rgba(0, 0, 0, .75);
$border-color-input: rgba(255, 255, 255, 0.42);

$leads-color: rgba(159, 196, 242, 0.73);
$clients-color: rgba(216, 172, 228, 0.77);
